@use '/src/styles/constants/colors';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  width: 360px;
  height: 720px;
  margin: 0 auto;
=======
  width: 100vw;
  height: 100vh;
  background-color: colors.$OUTSIDE_BACKGROUND;
>>>>>>> 71133d82c569e469987758942640948588037604
}
