@use 'src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center, center);
  width: 360px;
  height: 720px;
}
.centering {
  @include flexbox.flexbox(center, center);
  background-color: white;
  border-radius: 60px;
}
