@use '/src/styles/mixins/position';

nav {
  @include position.absolute(auto 100px 100px auto);
  width: 0;
  height: 0;
}

.circularMenu {
  position: absolute;
  width: 66px;
  height: 66px;
  transition: all 0.4s ease-out;
}
