@use '/src/styles/constants/colors';

.todoCategory {
  margin: 30px 0;
  
  h3 {
    margin-bottom: 15px;
    font-weight: 700;
    color: colors.$SUB_TITLE;
    font-size: 14px;
    text-transform: uppercase;
  }

  .cateWrap {
    position: relative;
    width: inherit;
    overflow-x: hidden;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .arrowBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 2;
      left: 5px;
      top: 50%;
      transform: translateY(-50%) scale(0.8);
      width: 25px;
      height: 25px;
      box-shadow: 0px 2px 10px rgba(colors.$BLACK, 10%);
      border: 1px solid colors.$SUB_TITLE;
      border-radius: 50%;
      background: colors.$WHITE;
      opacity: 0;
      transition: 0.3s;
      
      &:nth-child(2) {
        left: auto;
        right: 5px;
      }
      
      svg {
        color: colors.$SUB_TITLE;
      }  
      
    }

    .categoryList {
      transition: all 0.3s;
      white-space: nowrap;

      .category {
        display: inline-block;
        width: 120px;
        background: colors.$WHITE;
        box-shadow: rgba(149, 157, 165, 0.1) 1px 3px 5px;
        border-radius: 10px;
        transition: 0.3s;

        +.category {
          margin-left: 15px;
        }
  
        .cateBtn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          padding: 10px 13px;
        }

        &:active {
          transform: scale(0.95);
        }

        &.isActive {
          background: rgba(colors.$OUTSIDE_BACKGROUND, 30%);
          box-shadow: rgba(149, 157, 165, 0.3) 1px 3px 5px;
        }
  
        .cateTasks {
          font-size: 12px;
          margin-bottom: 15px;
          font-weight: 600;
          color: colors.$SUB_TITLE;
        }
    
        .cateTitle {
          font-size: 17px;
          color: colors.$TASK_ITEM_TITLE;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .taskProgress {
          width: 100%;
          height: 7px;
          border-radius: 10px;
          
          &.all {
            background-color: rgba(colors.$CATEGORY_ALL, 35%);
          }
          &.business {
            background-color: rgba(colors.$CATEGORY_BUSINESS, 35%);
          }
          &.health {
            background-color: rgba(colors.$CATEGORY_PERSONAL, 35%);
          }
          &.personal {
            background-color: rgba(colors.$CATEGORY_HEALTH, 35%);
          }
          &.hobby {
            background-color: rgba(colors.$CATEGORY_HOBBY, 35%);
          }
          
        }
      }
    }

    &:hover .arrowBtn{
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }

  
}