@use '/src/styles/constants/colors';

.todoCategory {
  margin: 30px 0;

  h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    color: colors.$SUB_TITLE;
    text-transform: uppercase;
  }

  .cateWrap {
    position: relative;
    width: inherit;
    padding-bottom: 10px;
    margin-bottom: 15px;
    overflow-x: hidden;

    .arrowBtn {
      position: absolute;
      top: 50%;
      left: 5px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      background: colors.$WHITE;
      border: 1px solid colors.$SUB_TITLE;
      border-radius: 50%;
      box-shadow: 0 2px 10px rgba(colors.$BLACK, 10%);
      opacity: 0;
      transition: 0.3s;
      transform: translateY(-50%) scale(0.8);

      &:nth-child(2) {
        right: 5px;
        left: auto;
      }

      svg {
        color: colors.$SUB_TITLE;
      }
    }

    .categoryList {
      white-space: nowrap;
      transition: all 0.3s;

      .category {
        display: inline-block;
        width: 120px;
        background: colors.$WHITE;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 10%) 1px 3px 5px;
        transition: 0.3s;

        + .category {
          margin-left: 15px;
        }

        .cateBtn {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
          padding: 10px 13px;
        }

        &:active {
          transform: scale(0.95);
        }

        &.isActive {
          background: rgba(colors.$OUTSIDE_BACKGROUND, 30%);
          box-shadow: rgba(149, 157, 165, 30%) 1px 3px 5px;
        }

        .cateTasks {
          margin-bottom: 15px;
          font-size: 12px;
          font-weight: 600;
          color: colors.$SUB_TITLE;
        }

        .cateTitle {
          margin-bottom: 15px;
          font-size: 17px;
          font-weight: 600;
          color: colors.$TASK_ITEM_TITLE;
        }

        .taskProgress {
          width: 100%;
          height: 7px;
          border-radius: 10px;

          &.all {
            background-color: rgba(colors.$CATEGORY_ALL, 35%);
          }

          &.business {
            background-color: rgba(colors.$CATEGORY_BUSINESS, 35%);
          }

          &.health {
            background-color: rgba(colors.$CATEGORY_PERSONAL, 35%);
          }

          &.personal {
            background-color: rgba(colors.$CATEGORY_HEALTH, 35%);
          }

          &.hobby {
            background-color: rgba(colors.$CATEGORY_HOBBY, 35%);
          }
        }
      }
    }

    &:hover .arrowBtn {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
}
