@use '/src/styles/constants/colors';

.roundButton {
  width: 66px;
  height: 66px;
  color: colors.$WHITE;
  background-color: colors.$BUTTON;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);
  transition: 0.3s;

  svg {
    display: block;
    margin: auto;
  }

  &:hover {
    background-color: rgba(colors.$TEAL, 90%);
  }

  &:active {
    background-color: rgba(colors.$INDIGO, 90%);
  }
}

.openButton {
  position: relative;
  display: block;
  margin: auto;
  cursor: pointer;
}

.addButton {
  display: hidden;
  opacity: 0;
}

.editButton {
  position: absolute;
  top: 0;
  left: 0;
  display: hidden;
  opacity: 0;
}

.addButtonOpen {
  position: absolute;
  display: inline;
  opacity: 1;
  transform: translateY(-70px);
}

.editButtonOpen {
  position: absolute;
  top: 0;
  display: inline;
  opacity: 1;
  transform: translateX(-70px);
}
